<section class="section">
    <div class="container mt-6">
        <h1 class="title has-text-centered">Ortoni Report by Koushik</h1>
        <p class="subtitle has-text-centered">A visually appealing HTML report generator for Playwright tests.</p>
        <figure class="image is-centered">
            <img src="https://github.com/ortoniKC/ortoni-report/blob/V2.0.9/assets/images/release.gif?raw=true"
                alt="Ortoni Report Preview">
        </figure>

        <hr>

        <h2 class="title is-4">Key Features</h2>
        <div class="content">
            <ul>
                <li><strong>Organization & Grouping:</strong> Hierarchical grouping, test history, advanced filtering.
                </li>
                <li><strong>Detailed Reporting:</strong> Test details, attachments, status display.</li>
                <li><strong>Visualization & Insights:</strong> Summary statistics, charts, colorful dashboard.</li>
                <li><strong>Customization:</strong> Themes, custom logos, flexible report paths.</li>
                <li><strong>User Experience:</strong> Search, filters, hide skipped tests, shareable reports.</li>
            </ul>
        </div>

        <hr>

        <h2 class="title is-4">Installation & Setup</h2>
        <pre><code class="bash">npm install -D ortoni-report</code></pre>

        <h3 class="title is-5">Configure in <code>playwright.config.ts</code></h3>
        <pre>
            <code class="typescript">{{code}}</code></pre>

        <h2 class="title is-4">Using the Ortoni Report CLI</h2>
        <p><strong>Command:</strong> <code>show-report</code></p>
        <pre><code class="bash">npx ortoni-report show-report</code></pre>
        <p>Example with custom options:</p>
        <pre><code class="bash">npx ortoni-report show-report --dir custom-folder --file my-report.html --port 3000</code></pre>

        <hr>

        <h2 class="title is-4">Support</h2>
        <p>If you'd like to support this project, you can donate via UPI:</p>
        <div class="content">
            <p><a href="https://buymeacoffee.com/letcode" class="button is-link">Buy me coffee</a></p>
            <figure class="image is-128x128">
                <img src="https://raw.githubusercontent.com/ortoniKC/ortoniKC/refs/heads/main/ortoni.png"
                    alt="UPI Payment">
            </figure>
        </div>
    </div>
</section>