<section class="section">
    <div class="container mt-6">
        <h1 class="title has-text-centered">Questions & Answers</h1>
        <p class="subtitle has-text-centered">Learn and crack you dream job!</p>

        <div class="content">
            <div class="columns is-multiline" *ngFor="let test of allquestions">
                <div class="column is-half">
                    <h2 class="title is-5">{{ test.title }}</h2>
                    <div class="content">
                        <li>{{test.Question1}}</li>
                        <li>{{test.Question2}}</li>
                        <li>{{test.Question3}}</li>
                    </div>
                </div>
                <div class="column is-half" *ngIf="test.vid">
                    <div class="video-container">
                        <iframe class="has-ratio" width="560" height="315"
                            [src]="'https://www.youtube.com/embed/' + test.vid | safeUrl" frameborder="0"
                            allowfullscreen>
                        </iframe>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</section>