<app-pageheader [header]="'Elements'"></app-pageheader>
<section class="section ">
    <div class="container">
        <div class="columns is-multiline">
            <div class="column is-6-desktop is-8-tablet">
                <div class="card">
                    <div class="card-content">
                        <form (ngSubmit)=" findUser() ">
                            <div class="field has-addons has-addons-centered">
                                <p class="control is-expanded">
                                    <input class="input" [(ngModel)]=" username " type="text" name="username"
                                        placeholder="Enter your git user name eg., ortonikc" required>
                                </p>
                                <p class="control">
                                    <button class="button is-primary" type="submit" id="search">
                                        Search
                                    </button>
                                </p>
                            </div>
                        </form>
                        <div class="content" *ngIf=" user">
                            <app-usercard [user]="user"></app-usercard>
                            <app-repos [repoUrl]="user.repos_url"></app-repos>
                        </div>
                        <div class="content p-4" *ngIf=" !user">
                            <div class="content">
                                <ol type="1">
                                    <li>Type and Enter your Git username</li>
                                    <li>Assert that user has image</li>
                                    <li>Print the user name & other informations</li>
                                    <li>Assert that no.of public repositories are listed correctly</li>
                                    eg. if Public Repos has 10 then in the list 10 links should be available
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-3-desktop is-4-tablet">
                <app-learning-point [link]="link" [list]="lp"></app-learning-point>
            </div>
            <div class="column is-3-desktop">
                <app-ads-vertical></app-ads-vertical>
            </div>
        </div>
    </div>
</section>
<app-ads></app-ads>