<section class="section">
  <div class="container">
    <div class="box">
      <div class="column">
        <button class="button is-link" [routerLink]="['/home']">
          <span class="icon"><i class="fas fa-arrow-left"></i></span>
          <span>Products</span>
        </button>
      </div>
      <h2 class="title has-text-centered">Shopping Cart</h2>
      <div class="table-container" *ngIf="cart.length > 0; else emptyCart">
        <table class="table is-fullwidth is-striped is-hoverable">
          <thead>
            <tr>
              <th>Product</th>
              <th>Quantity</th>
              <th>Price</th>
              <th>Total</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of cart">
              <td>{{ item.title }}</td>
              <td>
                <button class="button is-small" (click)="decreaseQuantity(item.id)">-</button>
                <span class="mx-2">{{ item.quantity }}</span>
                <button class="button is-small" (click)="increaseQuantity(item.id)">+</button>
              </td>
              <td>${{ item.price }}</td>
              <td>${{ item.price * item.quantity }}</td>
              <td>
                <button class="button is-danger is-small" (click)="removeFromCart(item.id)">
                  <span class="icon"><i class="fas fa-trash"></i></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="has-text-centered">
          <button class="button is-success" (click)="checkout()">Checkout</button>
        </div>
      </div>
    </div>
    <div class="content">
      <p class="subtitle">Credit: Built using <a class="is-link has-text-primary"
          href="https://fakestoreapi.com/">Fakestoreapi</a>
      </p>
    </div>
  </div>

  <ng-template #emptyCart>
    <div class="has-text-centered">
      <p class="title is-4">Your cart is empty</p>
      <button class="button is-primary" [routerLink]="['/home']">Continue Shopping</button>
    </div>
  </ng-template>
</section>
<app-ads></app-ads>