<app-pageheader [header]="'Table'"></app-pageheader>
<section class="section">
    <div class="container">
        <div class="columns is-multiline">
            <div class="column is-6-desktop is-8-tablet">
                <div class="card">
                    <div class="card-content">
                        <div class="table-container">
                            <table class="table is-bordered" id="advancedtable" name="table" datatable
                                [dtOptions]="dtOptions">
                                <thead>
                                    <tr>
                                        <th>S.NO</th>
                                        <th>UNIVERSITY NAME</th>
                                        <th>COUNTRY</th>
                                        <th>WEBSITE</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let group of universities;let id = index">
                                        <td>{{ id + 1 | number }}</td>
                                        <td>{{group.name}}</td>
                                        <td>{{group.country}}</td>
                                        <td>{{group.web_pages}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-3-desktop is-4-tablet">
                <app-learning-point [link]="link" [list]="lp"></app-learning-point>
            </div>
            <div class="column is-3-desktop">
                <app-ads-vertical></app-ads-vertical>
            </div>

        </div>
    </div>
</section>
<app-ads></app-ads>