<app-pageheader [header]="'Input'"></app-pageheader>
<section class="section">
    <div class="container">
        <div class="columns is-multiline">
            <div class="column is-7-desktop is-8-tablet">
                <div class="card">
                    <div class="card-content">
                        <div class="field">
                            <label for="name" class="label">Enter your full Name</label>
                            <div class="control">
                                <input class="input is-focused" id="fullName" type="text"
                                    placeholder="Enter first & last name">
                            </div>
                        </div>
                        <div class="field">
                            <label for="name" class="label">Append a text and press keyboard tab</label>
                            <div class="control">
                                <input class="input" id="join" value="I am good" type="text" placeholder="Enter ">
                            </div>
                        </div>
                        <div class="field">
                            <label for="name" class="label">What is inside the text box</label>
                            <div class="control">
                                <input class="input" id="getMe" value="ortonikc" type="text" placeholder="Enter ">
                            </div>
                        </div>
                        <div class="field">
                            <label for="name" class="label">Clear the text</label>
                            <div class="control">
                                <input class="input" id="clearMe" value="Koushik Chatterjee" type="text"
                                    placeholder="Enter ">
                            </div>
                        </div>
                        <div class="field">
                            <label for="name" class="label">Confirm edit field is disabled</label>
                            <div class="control">
                                <input class="input" id="noEdit" type="text" placeholder="Enter" disabled>
                            </div>
                        </div>
                        <div class="field">
                            <label for="name" class="label">Confirm text is readonly</label>
                            <div class="control">
                                <input class="input" id="dontwrite" type="text" value="This text is readonly" readonly>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-3-desktop is-4-tablet">
                <app-learning-point [link]="link" [list]="learningPoint"></app-learning-point>
            </div>
            <div class="column">
            </div>
        </div>
    </div>
</section>