<section class="section">
    <div class="container">
        <h1 class="title has-text-centered">Practice like a pro engineer</h1>
        <p class="subtitle has-text-centered">Follow the steps below to automate the test cases.</p>

        <div class="content">
            <div class="columns is-multiline" *ngFor="let test of testCases">

                <div class="column is-half">
                    <h2 class="title is-5">{{ test.title }}</h2>
                    <div *ngFor="let scenario of test.scenarios">
                        <h3 class="title is-6">{{ scenario.title }}</h3>
                        <ul *ngIf="scenario.steps?.length">
                            <ng-container
                                *ngTemplateOutlet="stepTemplate; context: { steps: scenario.steps }"></ng-container>
                        </ul>
                    </div>
                </div>
                <div class="column is-half" *ngIf="test.videoUrl">
                    <figure class="image is-16by9">
                        <iframe class="has-ratio" width="560" height="315"
                            [src]="'https://www.youtube.com/embed/' + test.videoUrl | safeUrl" frameborder="0"
                            allowfullscreen>
                        </iframe>
                    </figure>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Template for Recursively Rendering Steps -->
<ng-template #stepTemplate let-steps="steps">
    <li *ngFor="let step of steps">
        {{ step }}
    </li>
</ng-template>