<section class="section">
    <div class="container">
        <h1 class="title has-text-centered">Courses</h1>
        <p class="subtitle has-text-centered">Explore our available free courses on YouTube</p>
        <div class="columns is-multiline">
            <div class="column is-4" *ngFor="let course of courses">
                <div class="card">
                    <div class="card-content">
                        <h2 class="title is-5">{{ course.title }}</h2>
                        <p class="content">{{ course.description }}</p>
                    </div>
                    <footer class="card-footer">
                        <a class="card-footer-item button is-link" [routerLink]="['/course', course.id]">View Course</a>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</section>