<app-pageheader [header]="'Date Picker'"></app-pageheader>
<section class="section ">
    <div class="container">
        <div class="columns is-multiline">
            <div class="column is-6-desktop is-8-tablet">
                <div class="card">
                    <div class="card-content">
                        <div class="field">
                            <label for="birthday">Select your Birthday:</label>
                            <form>
                                <input type="date" class="button" id="birthday" name="birthday" [(ngModel)]="birthday">
                            </form>
                            <p class="label pt-3">{{birthday}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column column is-3-desktop is-4-tablet">
                <app-learning-point [link]="link" [list]="lp"></app-learning-point>
            </div>
            <div class="column is-2">
                <app-ads-vertical></app-ads-vertical>
            </div>
        </div>
    </div>
</section>
<app-ads></app-ads>