<app-pageheader [header]="'Slider'"></app-pageheader>
<section class="section ">
    <div class="container">
        <div class="columns is-multiline">
            <div class="column is-6-desktop is-8-tablet">
                <div class="card">
                    <div class="card-content">
                        <div class="has-text-centered">
                            <h1 class="subtitle has-text-info">
                                Word limit : {{limit}}
                            </h1>
                            <input [(ngModel)]="limit" type="range" name="generate" id="generate" min="1" max="50"
                                class="slider is-fullwidth is-info is-large">
                            <div class="block">
                                <button (click)="generate()" class="button is-primary">Get Countries</button>
                            </div>

                            <div *ngIf="words" class="card-content">
                                <div class="notification is-primary">
                                    <p class="has-text-primary-light">{{words}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="block">
                            <div class="content">
                                <div class="subtitle has-text-info">TODO</div>
                                <ol type="1">
                                    <li>Move the slider between 1 to 50</li>
                                    <li>Click on the get countries button</li>
                                    <li>Validate that countries are generated based on slider values</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-3-desktop is-4-tablet">
                <app-learning-point [link]="link" [list]="lp"></app-learning-point>
            </div>
            <div class="column is-2">
                <app-ads-vertical></app-ads-vertical>
            </div>
        </div>
    </div>
</section>
<app-ads></app-ads>