<app-pageheader [header]="'Sort'"></app-pageheader>
<section class="section">
    <div class="container">
        <div class="columns is-multiline">
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <div class="field">
                            <div cdkDropListGroup>
                                <div class="example-container">
                                    <h2 class="subtitle has-text-info">To do</h2>
                                    <div cdkDropList [cdkDropListData]="todo" class="example-list"
                                        (cdkDropListDropped)="drop($event)">
                                        <div id="sample-box1" class="example-boxes" *ngFor="let item of todo" cdkDrag>
                                            {{item}}</div>
                                    </div>
                                </div>
                                <div class="example-container">
                                    <h2 class="subtitle has-text-info">Done</h2>
                                    <div cdkDropList [cdkDropListData]="done" class="example-list"
                                        (cdkDropListDropped)="drop($event)">
                                        <div id="sample-box1" class="example-boxes" *ngFor="let item of done" cdkDrag>
                                            {{item}}</div>
                                    </div>
                                </div>
                                <div class="content">
                                    <div class="subtitle has-text-info">TODO</div>
                                    <ol type="1">
                                        <li>Move the content from to do to done</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-3-desktop is-4-tablet">
                <app-learning-point [link]="link" [list]="lp"></app-learning-point>
            </div>
            <div class="column is-3-desktop">
                <app-ads-vertical></app-ads-vertical>
            </div>
        </div>
    </div>
</section>
<app-ads></app-ads>