<app-pageheader [header]="'Windows'"></app-pageheader>
<section class="section ">
    <div class="container">
        <div class="columns is-multiline">
            <div class="column is-7-desktop is-8-tablet">
                <div class="card">
                    <div class="card-content">
                        <div class="field">
                            <label class="label" for="home">Goto Home</label>
                            <div class="control">
                                <button id="home" class="button is-info" (click)="openRequestedPopup()">Open Home
                                    Page</button>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label" for="home">Open muiltple windows</label>
                            <div class="buttons">
                                <button id="multi" class="button is-link is-outlined"
                                    (click)="openRequestedPopup2()">Muiltiple windows</button>
                            </div>
                        </div>
                        <div class="block">
                            <div class="content">
                                <ol type="1">
                                    <li>Click on the home button</li>
                                    <li>Goto the newly opened tab</li>
                                    <li>Print the title of the page </li>
                                    <li>Close the parent window</li>
                                    <li>Close the child window</li>
                                    <li>Click on the Muiltiple windows button</li>
                                    <li>Print all the window title</li>
                                    <li>Close all the windows</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-3-desktop is-4-tablet">
                <app-learning-point [link]="link" [list]="lp"></app-learning-point>
            </div>
            <!-- <div class="column">
                <ng-adsense [className]="'adsbygoogle'" [adClient]="'ca-pub-6251538267574677'" [adFormat]="'auto'"
                    [adSlot]="8487607644" [display]="'block'" [fullWidthResponsive]="true">
                </ng-adsense>
            </div> -->
        </div>
    </div>
</section>
<!-- ad -->
<!-- <section class="hero is-small ">
    <div class="hero-body">
        <div class="column has-text-centered">
            <ng-adsense [className]="'adsbygoogle'" [adClient]="'ca-pub-6251538267574677'" [adFormat]="'auto'"
                [adSlot]="6753414644" [display]="'block'" [fullWidthResponsive]="true">
            </ng-adsense>
        </div>
    </div>
</section> -->