<app-pageheader [header]="'Frame'"></app-pageheader>
<section class="section ">
    <div class="container">
        <div class="columns is-multiline">
            <div class="column is-6-desktop is-8-tablet">
                <div class="card">
                    <div class="card-content">
                        <iframe #my_iFrame (load)="myLoadEvent(my_iFrame)" src="frameui" id="firstFr" name="firstFr">
                        </iframe>
                    </div>
                </div>
            </div>
            <div class="column is-3-desktop is-4-tablet">
                <app-learning-point [link]="link" [list]="lp"></app-learning-point>
            </div>
            <div class="column is-3-desktop">
                <app-ads-vertical></app-ads-vertical>
            </div>
        </div>
    </div>
</section>
<app-ads></app-ads>