<app-pageheader [header]="'Dropdown'"></app-pageheader>
<section class="section ">
    <div class="container">
        <div class="columns is-multiline">
            <div class="column is-7-desktop is-8-tablet">
                <div class="card">
                    <div class="card-content">
                        <div class="field">
                            <label for="name" class="label">Select the apple using visible text</label>
                            <div class="control">
                                <div class="select">
                                    <select id="fruits" (change)="onChanged($event)">
                                        <option value="header">Select Fruit</option>
                                        <option value="0">Apple</option>
                                        <option value="1">Mango</option>
                                        <option value="2">Orange</option>
                                        <option value="3">Banana</option>
                                        <option value="4">Pine Apple</option>
                                    </select>
                                </div>
                                <div *ngIf="changed" class="content">
                                    <div class="notification is-success">
                                        <p class="subtitle">You have selected {{changed}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label for="name" class="label">Select your super hero's</label>
                            <div class="control">
                                <div class="select is-multiple">
                                    <select id="superheros" (change)="onhero($event)" multiple>
                                        <option value="am">Ant-Man</option>
                                        <option value="aq">Aquaman</option>
                                        <option value="ta">The Avengers</option>
                                        <option value="bt">Batman</option>
                                        <option value="bw">Batwoman</option>
                                        <option value="bp">Black Panther</option>
                                        <option value="ca">Captain America</option>
                                        <option value="cm">Captain Marvel</option>
                                        <option value="dd">Daredevil</option>
                                        <option value="ds">Doc Savage</option>
                                        <option value="ds">Doctor Strange</option>
                                        <option value="ek">Elektra</option>
                                        <option value="ff">Fantastic Four</option>
                                        <option value="gr">Ghost Rider</option>
                                        <option value="gl">Green Lantern</option>
                                        <option value="gx">Guardians of the Galaxy</option>
                                        <option value="hb">Hellboy</option>
                                        <option value="ih">Incredible Hulk</option>
                                        <option value="im">Iron Man</option>
                                        <option value="mm">Marvelman</option>
                                        <option value="rb">Robin</option>
                                        <option value="ts">The Shadow</option>
                                        <option value="sm">Spider-Man</option>
                                        <option value="sg">Supergirl</option>
                                        <option value="sm">Superman</option>
                                        <option value="th">Thor</option>
                                        <option value="wv">Wolverine</option>
                                        <option value="ww">Wonder Woman</option>
                                        <option valu>e="xm"X-Men</option>
                                    </select>
                                </div>
                                <div *ngIf="hero" class="content">
                                    <div class="notification is-success">
                                        <p class="subtitle">You have selected {{hero}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label for="name" class="label">Select the last programming language and print all the
                                options</label>
                            <div class="control">
                                <div class="select">
                                    <select id="lang" (change)="pgmlan($event)">
                                        <option value="js">JavaScript</option>
                                        <option value="java">Java</option>
                                        <option value="py">Python</option>
                                        <option value="swift">Swift</option>
                                        <option value="sharp">C#</option>
                                    </select>
                                </div>
                                <div *ngIf="pl" class="content">
                                    <div class="notification is-success">
                                        <p class="subtitle">You have selected {{pl}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="filed">
                            <label for="name" class="label">Select India using value & print the selected value</label>
                            <div class="select is-rounded">
                                <select id="country">
                                    <option value="Argentina">Argentina</option>
                                    <option value="Bolivia">Bolivia</option>
                                    <option value="Brazil">Brazil</option>
                                    <option value="Chile">Chile</option>
                                    <option value="Colombia">Colombia</option>
                                    <option value="Ecuador">Ecuador</option>
                                    <option value="India">India</option>
                                    <option value="Paraguay">Paraguay</option>
                                    <option value="Peru">Peru</option>
                                    <option value="Suriname">Suriname</option>
                                    <option value="Uruguay">Uruguay</option>
                                    <option value="Venezuela">Venezuela</option>
                                </select>
                            </div>
                        </div>
                        <div class="field is-hidden">
                            <div class="dropdown">
                                <div class="dropdown-trigger">
                                    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu3">
                                        <span>Click me</span>
                                        <span class="icon is-small">
                                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                                        </span>
                                    </button>
                                </div>
                                <div class="dropdown-menu" id="dropdown-menu3" role="menu">
                                    <div class="dropdown-content">
                                        <a href="#" class="dropdown-item">
                                            Overview
                                        </a>
                                        <a href="#" class="dropdown-item">
                                            Modifiers
                                        </a>
                                        <a href="#" class="dropdown-item">
                                            Grid
                                        </a>
                                        <a href="#" class="dropdown-item">
                                            Form
                                        </a>
                                        <a href="#" class="dropdown-item">
                                            Elements
                                        </a>
                                        <a href="#" class="dropdown-item">
                                            Components
                                        </a>
                                        <a href="#" class="dropdown-item">
                                            Layout
                                        </a>
                                        <hr class="dropdown-divider">
                                        <a href="#" class="dropdown-item">
                                            More
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-3-desktop is-4-tablet">
                <app-learning-point [link]="link" [list]="learningPoint"></app-learning-point>
            </div>
            <app-ads-vertical></app-ads-vertical>
        </div>
    </div>
</section>
<app-ads></app-ads>