<app-pageheader [header]="'Drop'"></app-pageheader>
<section class="section">
    <div class="container">
        <div class="columns is-multiline">
            <div class="column is-6-desktop is-8-tablet">
                <div class="card">
                    <div class="card-content">
                        <div class="columns">
                            <div cdkDropListGroup>
                                <div class="column example-container">
                                    <h2 class="subtitle has-text-info">Source</h2>
                                    <div cdkDropList [cdkDropListData]="sourceList" (cdkDropListDropped)="drop($event)">
                                        <div id="draggable" *ngFor="let item of sourceList" cdkDrag class="drag-box">
                                            <p>{{ item }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="column example-container">
                                    <h2 class="subtitle has-text-info">Target</h2>
                                    <div cdkDropList [cdkDropListData]="targetList" (cdkDropListDropped)="drop($event)"
                                        id="droppable" class="drop-box">
                                        <p *ngIf="targetList.length === 0">Drop here</p>
                                        <div *ngFor="let item of targetList" cdkDrag class="drag-box">
                                            <p>{{ item }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            <div class="subtitle has-text-info">TODO</div>
                            <ol type="1">
                                <li>Drag the source box with in the target box</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-3-desktop is-4-tablet">
                <app-learning-point [link]="link" [list]="lp"></app-learning-point>
            </div>
            <div class="column is-2">
                <app-ads-vertical></app-ads-vertical>
            </div>
        </div>
    </div>
</section>