<section class="section">
    <div class="container">
        <h1 class="title has-text-centered">LetXPath: Your Ultimate XPath & CSS Selector Finder</h1>
        <p class="subtitle has-text-centered">An open-source tool to find XPath and CSS selectors effortlessly.</p>

        <hr>
        <figure class="image is-16by9">
            <img src="https://lh3.googleusercontent.com/7MuYtoO3T7BR47JFVs_gDNk3pSL_Vp-KAAehXgIZONKzeH-tB_YeK9JaHCXvKxj-MSjKISbfPHzyGsurQlCAR81DcA=s1600-w1600-h1000"
                alt="" srcset="">
        </figure>
        <hr>

        <h2 class="title is-4">How to Use LetXPath? 🤔</h2>
        <div class="content">
            <ol>
                <li><strong>Install the Extension:</strong> Restart your browser after installation.</li>
                <li><strong>Navigate to the Desired Page:</strong> Open the page from which you need XPath.</li>
                <li><strong>Open DevTools:</strong> Click inspect or press <code>F12</code>.</li>
                <li><strong>Access LetXPath:</strong> Open it from the sidebar panel.</li>
                <li><strong>Get Your XPath:</strong> Click the element to obtain its XPath.</li>
            </ol>
        </div>

        <hr>

        <h2 class="title is-4">Features 💭</h2>
        <div class="content">
            <ul>
                <li><strong>Single-Click XPath:</strong> Obtain XPath instantly.</li>
                <li><strong>Smart XPath Generation:</strong> Direct element and parent-child relations.</li>
                <li><strong>Dynamic XPaths:</strong> Supports `following`, `preceding`, etc.</li>
                <li><strong>Axis-Based XPaths:</strong> Generates XPaths based on axes.</li>
                <li><strong>User-Enhanced Axes:</strong> Allows user-customized axis selection.</li>
            </ul>
        </div>

        <hr>

        <h2 class="title is-4">Code Snippets 🎓</h2>
        <p>Supports Selenium (Java, Python, C#), Protractor JS, and Playwright (Node & Java).</p>

        <hr>

        <h2 class="title is-4">Why Choose LetXPath? 🤔</h2>
        <p>Unlike other XPath tools, LetXPath provides XPaths, snippets, and video tutorials on building the tool
            itself.</p>

        <hr>

        <h2 class="title is-4">Get Started</h2>
        <div class="buttons">

            <a href="https://chromewebstore.google.com/detail/letxpath/bekehlnepmijedippfibbmbglglbmlgk"
                class="button is-link">Download</a>

            <a href="https://bit.ly/2S3eksW" class="button is-primary">Video Tutorial</a>
        </div>

        <hr>

        <h2 class="title is-4">Troubleshooting 😢</h2>
        <p>Restarting your browser should fix most issues. Report bugs on GitHub.</p>

        <hr>

        <h2 class="title is-4">Is It Free? 😱</h2>
        <p>Yes, LetXPath is completely free.</p>

        <hr>

        <h2 class="title is-4">What’s in It for You? 🙋</h2>
        <p>Seamless XPath generation and the joy of leaving a 5-star rating.</p>

        <hr>

        <h2 class="title is-4">Roadmap 😁</h2>
        <p>Stay tuned for exciting updates!</p>
    </div>
</section>