<div class="container">
    <div class="column">
        <h1 class="title">Enter Details</h1>
        <form>
            <div class="field">
                <label class="label">First Name</label>
                <div class="control">
                    <input class="input" [(ngModel)]=" fname " name="fname" type="text" placeholder="Enter name"
                        required>
                </div>
            </div>
            <div class="field">
                <label class="label">Last Name</label>
                <div class="control">
                    <input class="input" [(ngModel)]=" lname " name="lname" type="text" placeholder="Enter email"
                        required>
                </div>
            </div>
        </form>
        <div class="content mt-4" *ngIf="lname">
            <p class="title has-text-info">You have entered {{fname + " " + lname}}</p>
        </div>
        <div class="container has-text-centered mb-4  mt-6">
            <iframe #my_iFrame (load)="myLoadEvent(my_iFrame)" src="innerframe">
            </iframe>
        </div>
    </div>
</div>