<section class="section">
    <div class="container">
        <h1 class="title has-text-centered">{{ course.title }}</h1>
        <p class="subtitle has-text-centered">{{ course.shortDescription }}</p>

        <div class="columns">
            <div class="column is-half" *ngIf="course.englishPlaylist">
                <h2 class="title is-5">LetCode Playlist</h2>
                <figure class="image is-16by9">
                    <iframe class="has-ratio" width="560" height="315"
                        [src]="'https://www.youtube.com/embed/videoseries?list=' + course.englishPlaylist | safeUrl"
                        frameborder="0" allowfullscreen>
                    </iframe>
                </figure>
            </div>
            <div class="column is-half" *ngIf="course.tamilPlaylist">
                <h2 class="title is-5">Kurimurai Playlist</h2>
                <figure class="image is-16by9">
                    <iframe class="has-ratio" width="560" height="315"
                        [src]="'https://www.youtube.com/embed/videoseries?list=' + course.tamilPlaylist | safeUrl"
                        frameborder="0" allowfullscreen>
                    </iframe>
                </figure>
            </div>
        </div>

        <div class="has-text-centered mt-4">
            <app-yt></app-yt>
        </div>
        <article class="content">
            <markdown [data]="course.description"></markdown>
        </article>
    </div>
</section>