.content {
  /* background: white; */
  padding: 1.5rem;
  border-radius: 8px;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

.content h1,
.content h2,
.content h3 {
  color: #2a9d8f!;
}

.content ul {
  list-style: disc;
  margin-left: 20px;
}
