<app-pageheader [header]="'Alert'"></app-pageheader>
<section class="section ">
    <div class="container">
        <div class="columns is-multiline">
            <div class="column is-6-desktop is-8-tablet">
                <div class="card">
                    <div class="card-content">
                        <div class="field">
                            <label class="label" for="alert-accept">Accept the Alert</label>
                            <div class="control">
                                <button (click)="simple()" class="button is-link" id="accept">Simple
                                    Alert</button>
                            </div>
                        </div>
                        <div class=" field">
                            <label class="label" for="alert-dismiss">Dismiss the Alert & print the alert text</label>
                            <div class="control">
                                <button (click)="myConfirm()" class="button is-link is-outlined" id="confirm">Confirm
                                    Alert</button>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label" for="alert-type">Type your name & accept</label>
                            <div class="control">
                                <button (click)="myPrompt($event)" class="button is-primary" id="prompt">Prompt
                                    Alert</button>
                                <div *ngIf='myName' class="box">
                                    <div class="notification is-info">
                                        <p id="myName">Your name is: {{myName}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label" for="alert-sweet">Sweet alert</label>
                            <div class="control">
                                <button (click)="onclick()" class="button is-success" id="modern">Modern
                                    Alert</button>
                            </div>
                        </div>
                        <div class="modal">
                            <div class="modal-background"></div>
                            <div class="modal-content">
                                <div class="card">
                                    <div class="card-content">
                                        <p class="title">Modern Alert - Some people address me as sweet alert as well
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <button (click)="onClose()" class="modal-close is-large" aria-label="close"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-3-desktop is-4-tablet">
                <app-learning-point [link]="link" [list]="learningPoint"></app-learning-point>
            </div>
            <div class="column is-3-desktop">
                <app-ads-vertical></app-ads-vertical>
            </div>
        </div>
    </div>
</section>
<app-ads></app-ads>