<app-pageheader [header]="'Upload and Download'"></app-pageheader>
<section class="section">
    <div class="container">
        <div class="columns is-multiline">
            <div class="column is-6-desktop is-8-tablet">
                <div class="card">
                    <div class="card-content">
                        <div class="field">
                            <h2 class="title">Upload
                            </h2>
                            <label for="info" class="label">No file is uploaded, it's a dummy site for
                                learning.</label>
                            <div class="file">
                                <label class="file-label">
                                    <input class="file-input" type="file" name="resume"
                                        (change)="onFileSelected($event)">
                                    <span class="file-cta">
                                        <span class="file-icon">
                                            <i class="fa-solid fa-upload"></i>
                                        </span>
                                        <span class="file-label">
                                            Choose a file…
                                        </span>
                                    </span>
                                </label>
                            </div>
                            <p class="label" *ngIf="fileName">Selected File: {{ fileName }}</p>
                        </div>
                    </div>
                    <div class="card-content">
                        <h2 class="title">Download</h2>
                        <div class="file is-boxed">
                            <label class="file-label">
                                <button class="button">
                                    <a id="xls" href="assets/files/sample.xlsx" download="sample.xlsx">Download
                                        Excel</a>
                                    <br />
                                </button>
                                <br />
                                <button class="button"> <a id="pdf" href="assets/files/sample.pdf"
                                        download="sample.pdf">Download
                                        Pdf</a><br /></button><br />
                                <button class="button"><a id="txt" href="assets/files/sample.txt"
                                        download="sample.txt">Download
                                        Text</a><br /></button>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-3-desktop is-4-tablet">
                <app-learning-point [link]="link" [list]="lp"></app-learning-point>
            </div>
            <div class="column is-3-desktop">
                <app-ads-vertical></app-ads-vertical>
            </div>
        </div>
    </div>
</section>