<app-pageheader [header]="'Drag'"></app-pageheader>
<section class="section ">
    <div class="container">
        <div class="columns is-multiline">
            <div class="column is-6-desktop is-8-tablet">
                <div class="card">
                    <div class="card-content">
                        <div class="field">
                            <label class="label" for="drag">Let's go for a ride 😉 drag me around</label>
                            <div class="example-boundary">
                                <div id="sample-box" class="example-box" cdkDragBoundary=".example-boundary" cdkDrag>
                                    <h3 id="header">I can only be dragged within the dotted container</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column column is-3-desktop is-4-tablet">
                <app-learning-point [link]="link" [list]="lp"></app-learning-point>
            </div>
            <div class="column is-2">
                <app-ads-vertical></app-ads-vertical>
            </div>
        </div>
    </div>
</section>
<app-ads></app-ads>