<section class="section has-text-centered is-hidden-mobile">
    <div class="container">
        <ins class="adsbygoogle" style="display:block; width: 728px; height: 90px;"
            data-ad-client="ca-pub-6251538267574677" data-ad-slot="5771994013" data-ad-format="auto"
            data-full-width-responsive="true"></ins>
    </div>
</section>
<!-- Square Ads (Visible Only on Mobile) -->
<section class="has-text-centered is-hidden-tablet">
    <div class="container">
        <app-ads-square></app-ads-square>
    </div>
</section>