<footer class="footer p-6">
    <div class="container has-text-centered">
        <div class="columns is-multiline">
            <div class="column is-full">
                <p class="title is-5">LetCode by Koushik Chatterjee</p>
                <p class="subtitle is-6">Empowering Test Automation Engineers through learning</p>
            </div>
            <div class="column is-full">
                <p>
                    © 2025 LetCode | Created by
                    <a class="has-text-info" href="https://www.linkedin.com/in/ortoni/" target="_blank">Koushik
                        Chatterjee</a>
                    &
                    <a class="has-text-info" href="https://www.linkedin.com/in/bollineni-lakshmi-yaswanth-14472a199"
                        target="_blank">Bollineni Lakshmi Yaswanth</a>
                </p>
            </div>
            <!-- <div class="column is-full">
                <div class="buttons is-centered">
                    <a href="https://www.instagram.com/ortonikc/" class="button is-light is-rounded" target="_blank"><i
                            class="fab fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/in/ortoni" class="button is-light is-rounded" target="_blank"><i
                            class="fab fa-linkedin-in"></i></a>
                    <a href="https://www.youtube.com/letcode" class="button is-light is-rounded" target="_blank"><i
                            class="fab fa-youtube"></i></a>
                </div>
            </div> -->
        </div>
    </div>
</footer>