<app-pageheader [header]="'Table'">
</app-pageheader>
<section class="section">
    <div class="container">
        <div class="columns is-multiline">
            <div class="column is-6-desktop is-8-tablet">
                <div class="card">
                    <div class="card-content">
                        <div class="field">
                            <label class="title" for="shopping">Shopping List</label>
                            <p class="label">~ Add all the prices and check if the total is correct</p>
                            <div class="table-container">
                                <table class="table is-narrow" id="shopping" name="listtable">
                                    <thead>
                                        <tr>
                                            <th>Items</th>
                                            <th>Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Chocolate</td>
                                            <td>150</td>
                                        </tr>
                                        <tr>
                                            <td>Apple</td>
                                            <td>180</td>
                                        </tr>
                                        <tr>
                                            <td>Eggs</td>
                                            <td>48</td>
                                        </tr>
                                        <tr>
                                            <td>Corn</td>
                                            <td>480</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <td><i>Total</i></td>
                                        <td><b>858</b></td>
                                    </tfoot>
                                </table>
                            </div>
                            <hr>
                            <label class="title" for="simple">Let's handle it😉</label>
                            <p class="label">~ Mark Raj as present</p>
                            <div class="table-container">
                                <table class="table is-fullwidth is-bordered" id="simpletable" name="table">
                                    <thead>
                                        <tr>
                                            <th>First name</th>
                                            <th>Last name</th>
                                            <th>Email address</th>
                                            <th>Present/Absent</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Koushik</td>
                                            <td>Chatterjee</td>
                                            <td>{{ 'koushik@letcode.in' }}</td>
                                            <td><input class="q" id="first" type="checkbox" value=""></td>
                                        </tr>
                                        <tr>
                                            <td>Yashwanth</td>
                                            <td>Raj</td>
                                            <td>{{'yashwanth@letcode.in'}}</td>
                                            <td><input class="qe" id="second" type="checkbox" value=""></td>
                                        </tr>
                                        <tr>
                                            <td>Iron</td>
                                            <td>Man</td>
                                            <td>{{'man@letcode.in'}}</td>
                                            <td><input class="qd" id="third" type="checkbox" value=""></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <hr>
                            <div class="card-conetnt">
                                <div class="field">
                                    <label class="title" for="sort">Sortable Tables</label>
                                    <p class="label">~ Check if the sorting is working properly</p>
                                    <table matSort (matSortChange)="sortData($event)"
                                        class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                                        <thead>
                                            <th mat-sort-header="name">Dessert (100g)</th><br />
                                            <th mat-sort-header="calories">Calories</th><br />
                                            <th mat-sort-header="fat">Fat (g)</th><br />
                                            <th mat-sort-header="carbs">Carbs (g)</th><br />
                                            <th mat-sort-header="protein">Protein (g)</th><br />
                                            <th mat-sort-header="Cholesterol">Cholesterol(mg)</th><br />
                                        </thead>
                                        <tr *ngFor="let dessert of sortedData">
                                            <td>{{dessert.name}}</td><br />
                                            <td>{{dessert.calories}}</td><br />
                                            <td>{{dessert.fat}}</td><br />
                                            <td>{{dessert.carbs}}</td><br />
                                            <td>{{dessert.protein}}</td><br />
                                            <td>{{dessert.Cholesterol}}</td><br />
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-3-desktop is-4-tablet">
                <app-learning-point [link]="link" [list]="lp"></app-learning-point>
            </div>
            <div class="column is-2">
                <app-ads-vertical></app-ads-vertical>
            </div>
        </div>
    </div>
</section>
<app-ads></app-ads>