<app-pageheader [header]="'Button'"></app-pageheader>
<section class="section">
    <div class="container">
        <div class="columns is-multiline">
            <div class="column is-6-desktop is-8-tablet">
                <div class="card">
                    <div class="card-content">
                        <div class="field">
                            <label class="label" for="home">Goto Home and come back here using driver commanda</label>
                            <div class="control">
                                <button routerLink='/' class="button  is-link" id="home">Goto Home</button>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label" for="location">Get the X & Y co-ordinates</label>
                            <div class="control">
                                <button class="button  is-link is-outlined" id="position">Find Location</button>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label" for="color">Find the color of the button</label>
                            <div class="control">
                                <button class="button  is-primary" id="color">What is my color?</button>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label" for="size">Find the height & width of the button</label>
                            <div class="control">
                                <button class="button  is-success" id="property">How tall & fat I am?</button>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label" for="disabled">Confirm button is disabled</label>
                            <div class="control">
                                <button class="button is-info" title="Disabled button" id="isDisabled"
                                    disabled>Disabled</button>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label" for="disabled">Click and Hold Button</label>
                            <div class="control">
                                <button class="button is-primary" id="isDisabled">
                                    <div>
                                        <h2 (mousedown)="mousedown()" (mouseup)="mouseup()" (mouseleave)="mouseup()">
                                            Button {{name}}</h2>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-3-desktop is-4-tablet">
                <app-learning-point [link]="link" [list]="learningPoint"></app-learning-point>
            </div>
            <div class="column is-3-desktop">
                <app-ads-vertical></app-ads-vertical>
            </div>
        </div>
    </div>
</section>