.card {
  border-radius: 12px;
  overflow: hidden;
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
}

.card-footer-item {
  font-size: 1rem;
  padding: 1rem;
  transition: background 0.3s;
}
