<div class="card">
    <header class="card-header">
        <p class="card-header-title is-size-4 has-text-weight-semibold">
            {{ header }}
        </p>
        <span class="card-header-icon">
            <figure class="image is-48x48">
                <img [src]="icon" [alt]="alt">
            </figure>
        </span>
    </header>

    <div class="card-content">
        <div class="content has-text-centered">
            <p class="is-size-6">
                {{ desc }}
            </p>
        </div>
    </div>

    <footer class="card-footer">
        <a [routerLink]="link" class="card-footer-item">
            {{ title }}
        </a>
    </footer>
</div>