<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" [routerLink]="['/']">
                <img src="../../assets/logo.png" alt="letcode">
            </a>
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                data-target="navbar-menu" (click)="openBurger()">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navbar-menu" class="navbar-menu is-desktop is-tablet">
            <div class="navbar-start">
                <a (click)="openBurger()" class="navbar-item" routerLinkActive="is-tab" routerLink="/test"
                    id="testing">Work-Space</a>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">Products</a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" (click)="openBurger()" routerLinkActive="is-tab"
                            routerLink="product/ortoni-report">
                            Ortoni Report
                        </a>
                        <a class="navbar-item" (click)="openBurger()" routerLinkActive="is-tab"
                            routerLink="product/letxpath">
                            LetXPath
                        </a>
                        <a class="navbar-item" (click)="openBurger()" routerLinkActive="is-tab"
                            routerLink="product/playwright-runner">
                            Playwright Runner
                        </a>
                    </div>
                </div>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">Grooming</a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" (click)="openBurger()" routerLinkActive="is-tab"
                            routerLink="/test-practice">
                            Test Practice
                        </a>
                        <a class="navbar-item" (click)="openBurger()" routerLinkActive="is-tab" routerLink="/interview">
                            Interview Q & A
                        </a>
                    </div>
                </div>
                <a (click)="openBurger()" class="navbar-item" routerLinkActive="is-tab" routerLink="/courses"
                    id="testing">Courses</a>
                <a (click)="openBurger()" class="navbar-item" routerLinkActive="is-tab" routerLink="/contact"
                    id="testing">Contact</a>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <button id="toggle-theme" class="" [attr.data-theme-status]="themeStatus"
                            (click)="toggleTheme()">
                            <span class="icon">
                                <i [class]="'fa fa-' + (themeStatus === 'dark' ? 'moon' : 'sun')" id="theme-icon"></i>
                            </span>
                        </button>

                        <!-- <a *ngIf="!email" class="button is-primary is-rounded is-small" [routerLink]=" ['/signup'] "
                            (click)="openBurger()">Sign up</a>
                        <a *ngIf="!email" class="button is-primary is-rounded is-small" [routerLink]=" ['/signin'] "
                            (click)="openBurger()">Log in</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>