<!-- Header -->
<section class="section">
    <div class="container">
        <h1 class="title has-text-centered">Ready to be a Pro Engineer?</h1>
        <p class="subtitle has-text-centered">Practice test automation!</p>
    </div>
</section>

<!-- Features Section -->
<section class="hero">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-multiline">
                <div class="column is-3-desktop is-6-tablet" *ngFor="let item of menuItems">
                    <app-menu [alt]="item.alt" [icon]="item.icon" [title]="item.title" [header]="item.header"
                        [desc]="item.desc" [link]="item.link" class="menu-card">
                    </app-menu>
                </div>
            </div>
        </div>
    </div>
</section>