<!-- Header -->
<section class="hero is-small">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column">
                    <h1
                        class="title is-size-1-desktop is-size-3-mobile is-size-2-tablet has-text-weight-bold has-text-primary">
                        Ready to be a Pro Engineer?
                    </h1>
                    <p class="subtitle is-4 mt-4 is-family-primary">
                        Practice test automation!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Features Section -->
<section class="hero">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-multiline">
                <div class="column is-3-desktop is-6-tablet" *ngFor="let item of menuItems">
                    <app-menu [alt]="item.alt" [icon]="item.icon" [title]="item.title" [header]="item.header"
                        [desc]="item.desc" [link]="item.link" class="menu-card">
                    </app-menu>
                </div>
            </div>
        </div>
    </div>
</section>