<div class="container mt-5">

  <!-- Repository List -->
  <div *ngFor="let repo of repos" class="box">
    <article class="media">
      <figure class="media-left">
        <span class="icon has-text-link is-medium">
          <i class="fas fa-book fa-lg"></i>
        </span>
      </figure>
      <div class="media-content">
        <div class="content">
          <p class="title is-5 mb-1">
            <a [href]="repo.html_url" target="_blank" class="has-text-link">
              {{ repo.name }}
            </a>
          </p>
          <p class="subtitle is-7 has-text-grey">
            {{ repo.description || 'No description provided.' }}
          </p>

          <div class="mt-2">
            <span *ngIf="repo.language" class="tag is-info is-light is-rounded mr-2">
              <i class="fas fa-code mr-1"></i> {{ repo.language }}
            </span>
            <!-- Optional: Stars / Forks / Updated -->
            <span *ngIf="repo.stargazers_count" class="tag is-warning is-light is-rounded mr-2">
              ⭐ {{ repo.stargazers_count }}
            </span>
            <span *ngIf="repo.forks_count" class="tag is-success is-light is-rounded">
              🍴 {{ repo.forks_count }}
            </span>
          </div>
        </div>
      </div>
    </article>
  </div>

  <!-- Pagination -->
  <nav class="pagination is-centered mt-5" role="navigation" aria-label="pagination">
    <button class="pagination-previous" [disabled]="currentPage === 1" (click)="loadRepos(currentPage - 1)">
      Previous
    </button>

    <button class="pagination-next" [disabled]="repos.length < perPage" (click)="loadRepos(currentPage + 1)">
      Next
    </button>

    <ul class="pagination-list mt-0 has-text-centered">
      <li>
        <span class=" pagination-link is-current">{{ currentPage }}</span>
      </li>
    </ul>
  </nav>

</div>