<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-two-fifths">
        <div class="box">
          <h2 class="title">Login</h2>
          <div class="field">
            <label class="label">Username</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input" [(ngModel)]="username" placeholder="Enter Username" />
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
            </div>
          </div>
          <div class="field">
            <label class="label">Password</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input" [(ngModel)]="password" type="password" placeholder="Enter Password" />
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </div>
          </div>
          <button class="button is-primary" (click)="login()">Login</button>
        </div>
      </div>
    </div>
  </div>
</section>