<div class="box has-shadow">
  <article class="media">
    <div class="media-left">
      <figure class="image is-128x128">
        <img [src]="user.avatar_url" class="is-rounded" alt="User avatar" />
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong class="is-size-4">{{ user.name || user.login }}</strong><br />
          <span class="icon-text has-text-grey">
            <span class="icon"><i class="fas fa-map-marker-alt"></i></span>
            <span>{{ user.location }}</span>
          </span><br />
          <span class="is-size-6">{{ user.bio }}</span>
        </p>
      </div>
      <div class="tags">
        <span class="tag is-link is-light">
          <i class="fas fa-book pr-1"></i> Public Repos: {{ user.public_repos }}
        </span>
        <span class="tag is-info is-light">
          <i class="fas fa-code pr-1"></i> Gists: {{ user.public_gists }}
        </span>
        <span class="tag is-success is-light">
          <i class="fas fa-users pr-1"></i> Followers: {{ user.followers }}
        </span>
      </div>
    </div>
  </article>
</div>