<div class="card mt-6">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-128x128">
          <img [src]="user.avatar_url" alt="User avatar" class="is-rounded" />
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">{{ user.name || user.login }}</p>
        <p class="subtitle is-6 has-text-grey">
          <span class="icon is-small"><i class="fas fa-location-dot"></i></span>
          {{ user.location || 'Location not available' }}
        </p>
        <p *ngIf="user.bio">{{ user.bio }}</p>
      </div>
    </div>

    <hr />

    <div class="columns is-mobile is-multiline has-text-centered">
      <div class="column is-one-third">
        <p class="heading">Public Repos</p>
        <p class="title is-5">
          <span class="icon is-small"><i class="fas fa-book"></i></span>
          {{ user.public_repos }}
        </p>
      </div>
      <div class="column is-one-third">
        <p class="heading">Public Gists</p>
        <p class="title is-5">
          <span class="icon is-small"><i class="fas fa-code"></i></span>
          {{ user.public_gists }}
        </p>
      </div>
      <div class="column is-one-third">
        <p class="heading">Followers</p>
        <p class="title is-5">
          <span class="icon is-small"><i class="fas fa-users"></i></span>
          {{ user.followers }}
        </p>
      </div>
    </div>
  </div>
</div>