<button class="button is-pulled-right" [routerLink]="['/cart']">
  <span class="icon is-large">
    <i class="fas fa-cart-shopping"></i>
  </span>
  <span class="tag is-success" *ngIf="cartItemCount > 0">{{ cartItemCount }}</span>
</button>
<!-- Login Button (When not logged in) -->
<button *ngIf="!isLoggedIn" class="button is-pulled-right" [routerLink]="['/login']">
  <span class="icon is-large">
    <i class="fas fa-user"></i>
  </span>
</button>

<!-- Logout Button (When logged in) -->
<button *ngIf="isLoggedIn" class="button is-pulled-right" (click)="logout()">
  <span class="icon is-large">
    <i class="fas fa-sign-out-alt"></i>
  </span>
</button>

