<section class="section">
    <div class="container has-text-centered">
        <h1 class="title is-size-1 has-text-danger">Your're lost, technically 404!</h1>
        <a routerLink="/" class="button is-primary is-rounded is-medium">
            <span class="icon">
                <i class="fas fa-home"></i>
            </span>
            <span>Go Back Home</span>
        </a>
        <hr>
        <figure class="image mx-auto">
            <img src="https://raw.githubusercontent.com/ortoniKC/ortoniKC/refs/heads/main/404.png" alt="Page not found">
        </figure>



    </div>
</section>
<app-ads></app-ads>